@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("TrueType");
}
@font-face {
    font-family: "Inter";
    src: url(assets/fonts/static/Inter-Bold.ttf) format("TrueType");
    font-weight: 700;
}
@font-face {
    font-family: "Inter";
    src: url(assets/fonts/static/Inter-Regular.ttf) format("TrueType");
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src: url(assets/fonts/static/Inter-SemiBold.ttf) format("TrueType");
    font-weight: 600;
}

/* || RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

/* || VARIABLES  */
:root {
    /* FONTS */
    /* --FF-v: "Inter",monospace; */
    /* COLORS */
    --GREEN: hsl(75, 94%, 57%);
    --WHITE: hsl(0, 0%, 100%);
    --GREY-700: hsl(0, 0%, 20%);
    --GREY-800: hsl(0, 0%, 12%);
    --GREY-900: hsl(0, 0%, 8%);
}

/* || UTILITY CLASSES */


html,body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    font-family: "Inter", monospace;
    font-size: 14px;
    color: var(--WHITE);
}

html {
    width: 100%;
    background-color: #000;
    /* background-color: var(--GREY-900); */
}

body {
    width: 66dvw;
    background-color: var(--GREY-900);
} 

main {
    width: 320px;
    height: auto;
    /* max-height: 80dvh; */
    background-color: var(--GREY-800);
    padding: 24px;
    border-radius: 20px;
}

.card__profile  {
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;
    /* margin: 0 auto; */
    /* justify-content: center; */
}

.card__profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

.card__profile--caption {
    padding: 0.3em 0;
}

/* || MODIFIERS */
.card__profile--caption-name {
    font-weight: 700;
    font-size: 24px;
}
.card__profile--caption-green {
    color: var(--GREEN);
    font-weight: 600;
}
.card__profile--caption-grey {
    color: var(--GREY-700);
    filter: brightness(4);
    padding: 24px 0;
}


ul {
    list-style: none;
}

li a {
    display: block;
    font-family: "Inter", monospace;
    font-weight: 700;
    line-height: 3em;
    color: var(--WHITE);
    background-color: var(--GREY-700);
    border-radius: 10px;
    margin-bottom: 14px;
}

a:any-link {
    text-decoration: none;
    text-align: center;
}

a:is(a:hover, a:focus) {
    color: var(--GREY-900);
    background-color: var(--GREEN);
}